.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.center_x {
    display: flex;
    justify-content: center;
}

.center_y {
    display: flex;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}

.no-margin {
    margin: 0;
}

.max {
    height: 100%;
    width: 100%;
}

* {
    margin: 4px;
}

div {
    margin: 0;
}

.hidden {
    display: none;
}

img {
    max-height: 300px;
    border-radius: 10px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


input {
    border-radius: 10px;
    border-width: 0px;
    background-color: lightblue;
    padding: 5px;
    height: 30px;
}

input:focus-visible {
    outline: none;
    background-color: rgb(156, 194, 207);
}


button {
    border-radius: 4px;
    padding: 8px 12px;
    border-width: 0px;
}

button:hover {
    padding: 7px 11px;
    border-width: thin;
}

.green_but {
    background-color: green;
    color: white;
}

.green_but:hover {
    background-color: inherit;
    color: green;
    border-color: green;
}

.red_but {
    background-color: red;
    color: white;
}

.red_but:hover {
    background-color: inherit;
    color: red;
    border-color: red;
}

.blue_but {
    background-color: blue;
    color: white;
}

.blue_but:hover {
    background-color: inherit;
    color: blue;
    border-color: blue;
}

.gray_but {
    background-color: gray;
    color: white;
}

.gray_but:hover {
    background-color: inherit;
    color: gray;
    border-color: gray;
}

.lightblue_but {
    background-color: rgb(83, 163, 190);
    color: white;
}

.lightblue_but:hover {
    background-color: inherit;
    color: rgb(83, 163, 190);
    border-color: rgb(83, 163, 190);
}

.yellow_but {
    background-color: rgb(230, 230, 109);
    color: white;
}

.yellow_but:hover {
    background-color: inherit;
    color: rgb(230, 230, 109);
    border-color: rgb(230, 230, 109);
}