<!DOCTYPE html>
<html lang="en" style="overflow-y: hidden;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Find the Word {% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/start_styles.css">
</head>

<body>
    {% block no_nav %}
    <nav class="horizontal center_y">
        <div>
            <a id="nav_title" href="/" style="font-size: larger;"><span>Find the Word</span></a>
        </div>
        <div class="horizontal">
            {% if g.user == None %}
            <form action="/signup">
                <button class="green_but no-flip">Sign up</button>
            </form>
            <form action="/login">
                <button class="green_but no-flip">Login</button>
            </form>
            {% else %}
            <form action="/statistics">
                <button class="yellow_but no-flip">Statistics</button>
            </form>
            {% if session.get("is_guest", False) %}
            <form action="/convert-guest">
                <button class="blue_but no-flip">Convert account</button>
            </form>
            {% endif %}
            <form action="/logout">
                <button class="blue_but no-flip">Logout</button>
            </form>
            {% endif %}
        </div>
    </nav>
    {% endblock %}
    {% for msg in get_flashed_messages() %}
        <span>{{msg}}</span>
    {% endfor %}
    {% block body %} BODY {% endblock %}
</body>

</html>