{% extends 'base.html' %}


{% block body%}

<div class="vertical center max">
    <div class="center_x game">
        <div class="margin-50 white-box">
            <div>
                <h1>{{rnd_num}} of 10: {{game_type.capitalize()}} Match</h1>
                <h2 class="margin-vertical-50">{{data.capitalize()}}</h2>                
            </div>
            <div class="horizontal center_x">
                {% for word in words %}
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <input class="hidden" name="guess" value="{{word}}"/>
                    <button class="lightblue_but big-button">{{word}}</button>
                </form>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}